---
layout: default
title: Mansura Chowdhury | Designer
---

<section class="module parallax parallax-1">
  <div class="container">
    <h1 class="animated bounceInDown"><b>Mansura</b><br>Chowdhury</span>
    <p>Designer</p></h1>
  </div>
</section>

<span class="anchor" id="portfolio"></span>
<section class="module content">
  <div class="grid container">
    <div class="unit unit-s-1 unit-m-1 unit-l-1">
    <center><h2>Portfolio</h2></center>

    <div id="filter">
      <li><a href="#" id="btn-show-all" class="hvr-sweep-to-right">All</a></li>
      <li><a href="#" class="btn-player hvr-sweep-to-right" data-team="website">Websites</a></li>
      <li><a href="#" class="btn-player hvr-sweep-to-right" data-team="illustrations">Illustrations/Design</a></li>
      <li><a href="#" class="btn-player hvr-sweep-to-right" data-team="ux">UX Design</a></li>
    </div>

    <ul class="thumbs">
            <li class="player" data-players-team="website">
                <a href="#thumb15" class="thumbnail" style="background-image: url('../img/projects/amss.jpg')"><!-- <h4>Web design</h4> --><span class="description">AMSS Application</span></a>
            </li>
            <li class="player" data-players-team="website">
                <a href="#thumb14" class="thumbnail" style="background-image: url('../img/projects/avestia.jpg')"><!-- <h4>Web design</h4> --><span class="description">Avestia Publishing</span></a>
            </li>
            <li class="player" data-players-team="ux">
                <a href="#thumb5" class="thumbnail" style="background-image: url('../img/projects/spoil3.jpg')"><!-- <h4>SEO</h4> --><span class="description">Spoil Alert</span></a>
            </li>
<!--             <li class="player" data-players-team="website">
                <a href="#thumb4" class="thumbnail" style="background-image: url('../img/projects/giraffebaby.jpg')"><!-- <h4>Web design</h4> --><span class="description">GiraffeBaby</span></a>
            </li> -->
            <li class="player" data-players-team="illustrations">
                <a href="#thumb8" class="thumbnail" style="background-image: url('../img/projects/pet1.jpg')"><!-- <h4>SEO</h4> --><span class="description">Pet Circus</span></a>
            </li>
            <li class="player" data-players-team="illustrations"><a href="#thumb10" class="thumbnail" style="background-image: url('../img/projects/florence2.jpg')">
                <span class="description">Battle of the Bands</span></a>
            </li>
            <li class="player" data-players-team="website"><a href="#thumb1" class="thumbnail" style="background-image: url('../img/projects/csc1.jpg')">
                <span class="description">Canterbury Soccer Club</span></a>
            </li>
            <li class="player" data-players-team="ux">
                <a href="#thumb6" class="thumbnail" style="background-image: url('../img/projects/bookit.jpg')"><!-- <h4>SEO</h4> --><span class="description">Book It</span></a>
            </li>
             <li class="player" data-players-team="illustrations">
                <a href="#thumb11" class="thumbnail" style="background-image: url('../img/projects/mrbean.jpg')"><!-- <h4>SEO</h4> --><span class="description">Rowan Atkins Applications</span></a>
            </li>
            <li class="player" data-players-team="website">
                <a href="#thumb2" class="thumbnail" style="background-image: url('../img/projects/nitor1.jpg')"><!-- <h4>SEO</h4> --><span class="description">Nitor Carpentry</span></a>
            </li>
            <li class="player" data-players-team="illustrations">
                <a href="#thumb7" class="thumbnail" style="background-image: url('../img/projects/emma1.jpg')"><!-- <h4>SEO</h4> --><span class="description">Emma Watson Magazine Spread</span></a>
            </li>
            <li class="player" data-players-team="illustrations">
                <a href="#thumb3" class="thumbnail" style="background-image: url('../img/projects/dpscover1.jpg')"><!-- <h4>Web design</h4> --><span class="description">DPS Original</span></a>
            </li>
            <li class="player" data-players-team="illustrations">
                <a href="#thumb9" class="thumbnail" style="background-image: url('../img/projects/alien1.jpg')"><!-- <h4>Web design</h4> --><span class="description">Artist Study</span></a>
            </li>
            <li class="player" data-players-team="illustrations">
                <a href="#thumb12" class="thumbnail" style="background-image: url('../img/projects/stevie1.jpg')"><!-- <h4>Web design</h4> --><span class="description">Stevie Wonder Poster</span></a>
            </li>
            <li class="player" data-players-team="website">
                <a href="#thumb13" class="thumbnail" style="background-image: url('../img/projects/confTemplate.jpg')"><!-- <h4>Web design</h4> --><span class="description">Conference Website Templates</span></a>
            </li>
        </ul>

        <div class="portfolio-content">
            {% include amss.html %}
            {% include confTemplate.html %}
            {% include avestia.html %}
            {% include spoil.html %}
            {% include csc.html %}
            {% include nitor.html %}
            {% include dps.html %}
            
            {% include bookit.html %}
            {% include emma.html %}
            {% include petcircus.html %}
            {% include artiststudy.html %}
            {% include battleBands.html %}
            {% include rowanAppl.html %}
            {% include stevieWonder.html %}
        </div>

    </div>
  </div> <!-- /container -->
</section> <!-- /content -->
