<div id="thumb15">
  <div class="media">
  <div id="slideshow-wrap">
       <!--  <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label> -->
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/amss.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>AMSS Application</h1>
      <p class="body">AMSS (Avestia Manuscript Submission System) is a article submission system created for Avestia Publishing. </p>

      <p class="body">The goal of this project was to redesign the web application to follow the brand and make it more user friendly. The project was created along with a programmer who developed the application, while I designed the front-end.</p>
      <a href="http://www.newamss.avestia.com/" class="body-link hvr-sweep-to-right" target="_blank">Website</a>
    </div> <!-- /info -->
</div>