<div id="thumb9">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/alien.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/alien1.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Artist Study</h1>
      <p class="body">I created the image using Adobe Illustrator. I first created a good focal point and an interesting crop on my work. After I have placed everything where I wanted, I started to breakdown my illustrations in to simplified shapes. After I simplified the shapes, I started to add in line work to provide more details on some of my shapes, for example, the body of the “aliens” and the body of the telescope. I then started to add colors - my color palette for my illustration is
blue and orange because I felt that the blue portrays the idea of
science and space very well and not only does the orange provide
a great contrast against the blue but also portrays a great atmosphere
for an “alien planet”. I also made sure that the shades of
color I have chosen are more darker because most of Jeffrey Pelo’s
color palette are dark shades of different colors with added
neutral colors to balance it out.</p>

<p class="body">I used Jeffrey Pelo’s illustrations as my guide to follow his style. I made
sure to use great curves and use gestalt patterns. All my shapes
were strategically placed to flow seamlessly from one to the other
and they were also specifically aligned. All of the shapes are in two
dimensions but I have added an extra value to the shapes of the
aliens to provide depth just like Jeffrey Pelo has done for the shapes of
the animals and humans. The hands on the aliens are big but the
feet are small. I have also added a grunge texture on my background
shapes to provide that added depth and value, just as
Jeffrey Pelo has in his work.</p>

      <!-- <a href="http://nitorcarpentry.com/" class="body-link hvr-sweep-to-right" target="_blank">Website</a> -->
    </div> <!-- /info -->
</div>