<div id="thumb14">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/avestia.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/avestia1.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Avestia Publishing</h1>
      <p class="body">Avestia Publishing is a fast growing academic publication platform for professors, researchers, students, and the public sector. We are based in Canada and have offices world-wide. All Avestia publications are peer reviewed and maintain high standards, both technically and professionally. Most of our publications are based on the Open Access model. The International Academy of Science, Engineering, and Technology (International ASET Inc.) is our parent institution.</p>

      <p class="body">The goal of this project was to redesign and develop their website under a consistent brand. We wanted the website to communicate what Avestia was all about, which is that it is a publishing company where researchers and students can share their ideas on topics ranging from science to technology. We wanted to pull the users' attention to the list of journals and the scientifc articles that were recently published.</p>

      <p class="body">In order to ensure that the brand is consistent, we have also redesigned their individual journals websites as well. The individual journal websites were designed following the same theme but still ensuring that they each had their own unique attractions.</p>  

      <a href="http://avestia.com/" class="body-link hvr-sweep-to-right" target="_blank">Avestia Publishing Website</a> <a href="http://ijepr.avestia.com/" class="body-link hvr-sweep-to-right" target="_blank">Journal Website</a>
    </div> <!-- /info -->
</div>