<div id="thumb10">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/florence.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/florence2.jpg" />
                </li>
                <li id="slide3">
                    <img src="../img/projects/florence3.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Battle of the Bands</h1>
      <p class="body">Created an event poster where musicians compete against each other! The event is hosted by Florence + The Machine - this is a fictious event; however, Battle of the Bands, really does exist. Please feel free to check their website below:</p>

      <a href="http://www.battleofthebands.com/" class="body-link hvr-sweep-to-right" target="_blank">Website</a>
    </div> <!-- /info -->
</div>