<div id="thumb6">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/bookit.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/bookit1.jpg" />
                </li>
                <li id="slide3">
                    <img src="../img/projects/bookit2.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Book It</h1>
      <p class="body"></p>

      <p class="body">Book It is an app created for the Ottawa Public Library customers. The purpose of the app is to make the user experience easier and smoother for the customers. Our goal is to make the app as user friendly and eco-friendly as possible.</p>
      
      <p class="body">The app allows you to have an immediate and portable access to your account information, holds, fines, etc. Not only are you able to search the library catalogue on your device, you will also get suggestions based on the books you have read and favorited, as well as suggestions from books that your friends’ have read and favorited. There is a scanner function where you can scan a barcode of a book and get suggestions of books within the same genre or from the same author. You are also able to add multiple books in your cart and once you check out, the app will send you an email of the books that you have checked out with the due dates.</p>
      <!-- <a href="http://nitorcarpentry.com/" class="body-link">Website</a> -->
    </div> <!-- /info -->
</div>