<div id="thumb1">
  <div class="media">
      <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/csc1.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/csc2.jpg" />
                </li>
                <li id="slide3">
                    <img src="../img/projects/csc3.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->

    

    <div class="info">
      <h1>Canterbury Soccer Club</h1>
      <p class="body">The Canterbury Soccer Club has been operating in Ottawa, Canada for almost 40 years to provide non competitive recreational soccer to youth between the ages of 5 and 15 years old in the Canterbury and Alta Vista community of Ottawa. The club's goal is to ensure that our youth HAVE FUN while all getting an equal opportunity to play the game.</p>

      <p class="body">The goal of this project was to rebrand Canterbury Soccer Club in a way that would gather more interest from children. My team and I came up with a similar method from getting inspiration through video games. We created different team icons and names based on the age groups and when the children "graduated" from one team to the other, they will feel like they have leveled up! It is both exciting and rewarding! I was personally in charge of creating the website along with one other member.</p>
      <a href="http://canterbury-soccer.com/" class="body-link hvr-sweep-to-right" target="_blank">Website</a>

      <a href="../img/Presentation-Final.pdf" class="body-link hvr-sweep-to-right" target="_blank">Presentation</a>
    </div> <!-- /info -->
</div>