<div id="thumb7">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/emma1.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/emma2.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Emma Watson Magazine Spread</h1>
      <p class="body">I find Emma Watson to be a great role model as an actress. She is a very smart, beautiful, and responsible women who has been active in the progression of gender equality, which is something I happen to believe in as well! This is why I have chosen her for my magazine spread. Please feel free to check out her gender equality organization called, He For She:</p>
      <a href="http://www.heforshe.org/en" class="body-link hvr-sweep-to-right" target="_blank">Website</a>
    </div> <!-- /info -->
</div>