<footer>
	<div class="grid footerContent">
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<div class="unit-spacer">
				<h2>Hello,</h2>
				<p>I'm a designer and a front end developer with a passion for designing simple and functional user experiences and writing clean, elegant and efficient code.<br><br>
				I love being in an environment full of positive energy. My goal in life is to simply enjoy it to fullest.</p>
			</div>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<div class="unit-spacer">
				<h2>Let's have some fun -</h2>
				<form action="" method="post">
    <input type="text" name="name" />
    <input type="mail" name="email" />
    <input type="text" name="subject" />
    <textarea name="message"></textarea>
    <button>Send Mail</button>
  </form>

			</div>
		</div>
	</div>
</footer>