<footer>
	<div class="grid footerContent">
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<div class="unit-spacer">
				<h2 class="hello">Hello,</h2>
				<p class="helloContent body">I'm a designer and a front end developer with a passion for designing simple and functional user experiences and writing clean, elegant and efficient code.<br><br>
				I love being in an environment full of positive energy. My goal in life is to simply enjoy it to fullest.</p>
			</div>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<div class="unit-spacer">
				<h2>Let's get a drink -</h2>
				<form method="POST" action="http://formspree.io/c.mansura@gmail.com" class="contactForm">
  					<input type="name" name="name" placeholder="Your name">
  					<input type="email" name="email" placeholder="Your email">
  					<textarea name="message" placeholder="Your message"></textarea>
  					<button type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</footer>

<div class="copyright">
<p class="body">&copy; Copyright 2016, emdsgns – All Rights Reserved.</p>
</div>