<span class="anchor" id="contact"></span>
<footer>
	<div class="grid footerContent">
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<div class="unit-spacer">
				<h2 class="hello">Hello,</h2>
				<p class="helloContent body">I'm a designer and I love super heroes! I also have a passion for designing responsive and functional user experiences and writing clean and efficient code.<br><br>
				I love being in an environment full of positive energy. My goal in life is to simply enjoy it to the fullest and to always try my best.</p>

				<div class="icons">
				<a href="mailto:c.mansura@gmail.com" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

				<a href="https://ca.linkedin.com/in/mansura-chowdhury-4878955b" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

				<a href="https://www.instagram.com/emdsgn/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div><!-- /icons -->
			</div>
		</div>

	</div>
</footer>

<div class="copyright">
<p class="body">&copy; 2016 EMDSGN.</p>
</div>