<div id="thumb8">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/pet1.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/pet2.jpg" />
                </li>
                <li id="slide3">
                    <img src="../img/projects/pet3.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Pet Circus</h1>
    
      <p class="body">The goal of this project was to rebrand the company through creating a new logo and branding materials.</p>

      <!-- <a href="http://nitorcarpentry.com/" class="body-link">Website</a> -->
    </div> <!-- /info -->
</div>