<div id="thumb5">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-4"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <label for="button-4" class="arrows" id="arrow-4">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/spoil1.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/spoil2.jpg" />
                </li>
                <li id="slide3">
                    <img src="../img/projects/spoil3.jpg" />
                </li>
                <li id="slide4">
                    <img src="../img/projects/spoil4.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Spoil Alert</h1>
      <p class="body">Are you too busy to keep track of your food? Or do you come home and see that your food is all of a sudden expired? Well, it is your lucky day because <i>Spoil Alert</i> will help you keep track of your food for you! You do not have to worry about reminding yourself anymore or coming home and being surprised with expired goods!</p>

      <p class="body">The idea is for you to scan your groceries in the application and it will collect the name of the product and their expiration date. You can specify in the settings of the applications in terms of how often you want to be reminded and the application will also give you some suggestions in terms of what you can make with your product.</p>
      <!-- <a href="/app-website" class="body-link hvr-sweep-to-right" target="_blank">Website</a> -->
    </div> <!-- /info -->
</div>