<div id="thumb12">
  <div class="media">
  <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../img/projects/stevie.jpg" />
                </li>
                <li id="slide2">
                    <img src="../img/projects/stevie1.jpg" />
                </li>
            </ul>
        </div>
    </div>
    </div> <!-- /media -->


    <div class="info">
      <h1>Stevie Wonder Poster</h1>
      <p class="body">Created an event poster for one of Stevie Wonder's famous song, <i>Songs in the Key of Life</i>.</p>

      <!-- <a href="http://nitorcarpentry.com/" class="body-link">Website</a> -->
    </div> <!-- /info -->
</div>